<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" , initial-scale="1" />
    <title>Leyout</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <h1 class="title container">website</h1>
      <nav class="container">
        <ul>
          <li><a href="#Home">Home</a></li>
          <li><a href="#Home">About</a></li>
          <li><a href="#Home">Products</a></li>
          <li><a href="#Home">History</a></li>
          <li><a href="#Home">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <div class="container">
          <h2>section 1</h2>
        </div>
      </section>
      <section>
        <div class="container">
          <h2>section 2</h2>
        </div>
      </section>
    </main>

    <footer>
      <div class="container">
        <h2>this is footer</h2>
      </div>
    </footer>
  </body>
</html>
